################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApplication1/obj/Debug
/WebApplication1/ExcelProcessor.csproj.user
/WebApplication1/bin
/WebApplication1
/packages
/.vs/WebApplication1
/.vs/ExcelProcessing
